body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageContent {
  max-width: 98% !important;
}

.pageComponent {
  max-width: 100% !important;
}

.addNew-btn {
  color: #17252a !important;
  background-color: #3aafa9 !important;
}


.filter-btn {
  color: #2b7a78 !important;
  background-color: #def2f1 !important;
  flex-shrink: 2 !important;
}

.approve-btn {
  color: #2b7a78 !important;
  background-color: #def2f1 !important;
  flex-shrink: 2 !important;
}

.deny-btn {
  color: #2b7a78 !important;
  background-color: #f2dede !important;
  flex-shrink: 2 !important;
}

.filter-btn:focus {
  color: #33515c !important;
  background-color: #99d6d3 !important;
  flex-shrink: 2 !important;
}

.searchTable {
  margin-right: 15px !important;
  margin-left: 15px !important;
  min-width: 130px !important;
  flex-grow: 4 !important;
}

.sectionAboveHeader {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
  align-items: center !important;
}



.userRequestsCardGroup {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: space-around !important;
  align-items: stretch !important;
  width: 90% !important;
}

.userRequestCard {
  flex-grow: 8 !important;
  min-width: 200px !important;
}

.spaceBetween {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
}

.recentActivityCard {
  flex-grow: 3 !important;
  flex-shrink: 4 !important;
  min-width: 75px !important;
}